<div class="container-fluid marginPortada">
  <div class="row">
    <div class="divfotoPortada">
      <img src="assets/img/portada.jpeg" class="fotoPortada col-12" />
      <div class="contenedorFotoPortada col-2">
        <img (click)="fileInput.click()" class="img-fluid img-thumbnail fotoPerfilPortada rounded-circle" src="{{srcFoto}}" />
        <input hidden=true type="file" id="foto" placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <i class="fas fa-edit"></i> Cambio de contraseña
      </div>
      <a class="dropdown-item" [routerLink]="['/profile']">
        <i class="fas fa-key"></i>Cambiar Contraseña
      </a>
    </div>
    <br />
    <div class="card" style="width: 18rem;">
      <div class="card-header"><i class="far fa-image"></i> Fotos</div>
      <div class="foto ">
        <img class="card-img" src="../../../assets/home.jpg" class="fotos" />
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-6">
    <div class="muro-scroll">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><i class="fas fa-edit"></i>Publicacion</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <form>
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-outline-primary">
                    Publicar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card" *ngFor="let item of content">
        <div class="card-header">
          <h5 class="card-title">
            <i class="fas fa-edit"></i>{{ item.nombre }}
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h6>{{ item.contenido }}</h6>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>