<div class="muro-scroll">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><i class="fas fa-edit"></i>Publicacion</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <form>
            <input type="text" class="form-control" [(ngModel)]="content" name="content">

            <div class="text-right">
              <button type="button" class="btn btn-outline-primary" (click)="publicar()">Publicar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <br>
<!--
  <div class="card" >
    <div class="card-header">
      <h5 class="card-title"><i class="fas fa-edit"></i>{{item.nombre}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h6>{{item.contenido}}</h6>
        </div><br>

      </div>
    </div>

  </div>-->