<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="muro-scroll">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><i class="fas fa-edit"></i>Publicacion</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <form>
                  <textarea type="text" class="form-control" [(ngModel)]="content" name="content"></textarea>
                  <br>
                  <div class="text-right">
                    <button type="button" class="btn btn-outline-primary" (click)="publicar()">Publicar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngFor="let item of listPublication">
          <div class="card  alert-secondary">
            <ng-container *ngFor="let person of listUsers">
              <div class="alert alert-info" *ngIf="item.idUser == person.id">
                <h5 class="card-title"><i class="fas fa-edit"></i> {{ person.name }} Ha
                  compartido
                  una Publicacion </h5>
              </div>
            </ng-container>
            <div class="card-body ">
              <div class="row">
                <div class="col-12">
                  <h6>{{item.content}}</h6>
                </div><br>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <app-friends-on></app-friends-on>
    </div>
  </div>
  <div class="row">
    <app-chat></app-chat>
  </div>
</div>