.footbarInput {
  background-color: rgb(255, 255, 255);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 60px;
  position: relative;
  padding: 0 38px 0 38px;
}
.muro-scroll {
  height: 550px;
  padding: 0px;
  overflow-y: auto;
}
